---
import type { GetStaticPaths } from "astro";
import { render } from "astro:content";
import { allBlogPosts } from "../../lib/posts";
import Prose from "../../components/Prose.astro";
import Layout from "../../layouts/Layout.astro";
import ExternalLink from "../../components/ExternalLink.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import PostComments from "../../components/PostComments.astro";
import ScrollToTop from "../../components/ScrollToTop.astro";

export const getStaticPaths = (async () => {
  const allPosts = await allBlogPosts();

  return allPosts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}) satisfies GetStaticPaths;

const post = Astro.props;

const { Content, ...components } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <Prose as="article">
    <h1>{post.data.title}</h1>
    <FormattedDate date={post.data.date} />
    <Content components={{ ...components, a: ExternalLink }} />
    <ScrollToTop />

    <h3>Comments</h3>
    <PostComments />
  </Prose>
</Layout>
