@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-body: Inter, sans-serif;
  --animate-fade-in: fade-in 1s ease-out forwards;

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Excalifont";
  src: url("/Excalifont-Regular.woff2") format("woff2");
  font-display: swap;
}

html,
body {
  @apply size-full;
}

html {
  scroll-padding-top: 4rem;
}

body {
  @apply font-sans antialiased;
  @apply bg-neutral-50 dark:bg-neutral-900;
  @apply text-black/80 dark:text-white/80;
}

.astro-code {
  @apply overflow-x-auto rounded-md border border-neutral-200 p-4;
}

.katex-html {
  @apply sr-only;
}

:where(.dark) .astro-code {
  @apply border-neutral-700;
}

:where(.dark) .astro-code,
:where(.dark) .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
