---
import { SITE_TITLE } from "../constants";
---

<footer>
  <div class="container mx-auto max-w-[80ch] px-5 py-4 flex items-center">
    <p>
      &copy; 2025 {`|`}
      {SITE_TITLE}
    </p>
  </div>
</footer>
