---
import { Image } from "astro:assets";
import Link from "./Link.astro";

import WebsiteIcon from "../assets/icons/website.png";
---

<header
  id="header"
  class="fixed top-0 right-0 left-0 z-50 border-b border-b-neutral-200 bg-neutral-50/75 py-1 saturate-200 backdrop-blur-sm transition-transform duration-300 dark:border-b-neutral-700 dark:bg-neutral-900/25"
>
  <div
    class="container mx-auto flex max-w-[80ch] items-center justify-between px-5"
  >
    <Link href="/">
      <Image
        src={WebsiteIcon}
        width={WebsiteIcon.width / 2}
        densities={[1.5, 2]}
        alt="Volodymyr's website logo"
      />
    </Link>

    <nav class="flex items-center gap-1" aria-label="Primary navigation">
      <Link href="/blog" underline>blog</Link>
      <span aria-hidden="true">/</span>
      <Link href="/about" underline>about</Link>
    </nav>
  </div>
</header>

<script>
  const header = document.getElementById("header");
  const scrollClass = "-translate-y-full";

  let lastScroll = 0;

  window.addEventListener(
    "scroll",
    () => {
      const currScroll = window.pageYOffset;

      if (!header) {
        return;
      }

      if (currScroll <= 0 || currScroll === lastScroll) {
        header.classList.remove(scrollClass);
        return;
      }

      header.classList.toggle(scrollClass, currScroll > lastScroll);

      lastScroll = currScroll;
    },
    { passive: true },
  );
</script>
