---
import Link from "./Link.astro";
---

<header
  class="fixed top-0 right-0 left-0 z-50 border-b border-b-neutral-200 bg-neutral-50/75 py-4 saturate-200 backdrop-blur-sm dark:border-b-neutral-700 dark:bg-neutral-900/25"
>
  <div
    class="container mx-auto flex max-w-[80ch] items-center justify-between px-5"
  >
    <Link href="/">
      <span class="text-xl font-semibold">home</span>
    </Link>

    <nav class="flex items-center">
      <Link href="/blog" underline>blog</Link>
    </nav>
  </div>
</header>
