---
import Arrow from "../assets/icons/arrow.svg";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"blog">;
}

const { entry } = Astro.props;
---

<a
  href={`/${entry.collection}/${entry.id}`}
  class="group flex flex-nowrap items-center gap-2 rounded-lg border border-neutral-200 py-3 pr-3 pl-5 hover:text-black dark:border-neutral-700 dark:hover:text-white"
>
  <div class="flex flex-1 flex-col gap-1 overflow-x-hidden">
    <h3 class="font-semibold">
      {entry.data.title}
    </h3>
    <p class="text-sm">
      {entry.data.description}
    </p>
  </div>

  <Arrow class="size-5 rotate-180" />
</a>
