---
import Footer from "../components/Footer.astro";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={title} description={description} />

    <style is:inline>
      body {
        visibility: hidden;
        opacity: 0;
      }
    </style>

    <style is:global>
      body {
        visibility: visible;
        opacity: 1;
        transition:
          visibility 0.2s linear,
          opacity 0.2s linear;
      }
    </style>
  </head>
  <body>
    <a
      href="#main-content"
      class="fixed top-0 left-0 z-50 -translate-y-full transform bg-blue-500 px-4 py-2 text-white transition focus:translate-y-0"
    >
      Skip to main content
    </a>

    <Header />

    <main
      id="main-content"
      class="container mx-auto flex max-w-[80ch] flex-col gap-8 px-4 pt-24 pb-12 md:px-5"
      aria-label="Main content"
    >
      <slot />
    </main>
    <Footer />
  </body>
</html>
